@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600&display=swap');


::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(136, 136, 136);
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 255, 13);
  border-radius: 2px;
}

html {
  scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
}
* {
	font-family: 'Cairo', sans-serif;
}
.nav-bar {
  height: 70px;
  background: #262626;
  border-bottom-right-radius: 90px;
  
}
 
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a img {
	max-height: 70px;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}
 
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
 
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #018020;
  color: #000000;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
 
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}
 
@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
 .title,h1 {
    display:contents;
 }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
	padding-left: 25%;
	 
  }
  nav ul li ul li a {
    padding-left: 30%;
  }
 
  .nav-dropdown {
    position: static;
  }
	.brand a img {
		max-height: 60px;
		margin-top: 5px;
	}
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
 
article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

/*Content Style*/
header {
    background-image: linear-gradient(to top,#00bd3f,#6db100);
    padding-top: 100px;
    border-top-right-radius: px;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 90px;
    padding-bottom:100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 68px;
    margin-left: 50px;
}
.title,h1{
    line-height: 1.4;
    position: relative;
    font-size: 2.2rem;
    transitIon:0.75s;
    font-size: 40px;
}
.title,h1:hover {
    color: #ffffff;
    font-size: 45px;
}
.lrn{
    color: #000000;
    transitIon:0.2s;
    font-size: 19px;
}
.lrn:hover{
    color: #ffffff;
    font-size: 20px;
}
.social-icons,i{
    color: black;
    font-size: 18px;
    transition: 0.2s;
}
social-icons,i:hover {
    color: #ffffff;
    font-size: 24px;
}
.line {
  background-image: linear-gradient(to left,#00be3f,#79c400);
  text-align: center;
  font-size: 20px;
  margin: 30px;
  border-radius: 48px;
}
.container {
  padding: 10px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid > article img {
  max-width: 100%;
}

.grid .text {
  padding: 20px;
}
.grid > article:hover {
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.3); 
}
footer{
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url('https://images.unsplash.com/photo-1435224668334-0f82ec57b605?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
  color: #ffff;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  border-style:solid;
  border-color: #181a18;
  border-width: 2px;
  border-top-right-radius: 90px;
  margin-right: 12px;
}

.footer-title{
  font-size: 1em;
  font-weight: 600;
}

.footer-title span{
  color: #00ff00;
}

footer .social-iccons i{
  font-size: 1.3em;
  padding: -2px 0 0;
  color: #00ff55;
  margin-right: 26px;
}
footer .social-iccons i:hover{
  color: white;
  font-size: 1.6em;
  transition: 0.3s;
}

.soonbar {
  text-align: center;
  color: rgb(99, 99, 99);
  background-color: #ccc;
  margin: 10px;
  font-size: 30px;
  padding-bottom: 22px;
  display:grid
}
.soonbar {
  border-radius: 3px;
  border-color: rgba(131, 131, 131, 0.438);
  border-style:inset;
}

.blog-bar {
  background-color: rgb(240, 240, 240);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  margin: 14px;
  border-radius: 2px;
  align-items: center;
  border-style: inset;
  border-color: #888888;
  border-width: 1px;
  width: 860px;
  height: auto 15px;
}
.supimg {
  width: 860px;
  margin: -16px;
  height: 540px;
}
.maintit {
  text-align: center;
  background-color: #181a18;
  color: #ccc;
  border-radius:5px;
}
.tit {
  margin: 16px;
}

@media only screen and (max-width: 430px) {
  .blog-bar{
    width: 337px;
    margin: 5px;
  }
  .maintit{
    font-size:20px;
  }
  .supimg{
    width: 337px;
    margin-left: -15,15px;
    height: 230px;
  }
  .footer{
    border-radius: 0px;
    margin: auto;
  }
  header {
    width: 330px;
    margin: auto;
  }
}