@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600&display=swap');


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 160, 8);
  border-radius: 2px;
}
.cbx {
  animation:transitionIn 0.5s;
}
html {
  scroll-behavior: smooth;
  background-color: #eeeeee;
}

body {
	margin: 0;
	padding: 0;
}
@keyframes transitionIn {
  from  {
    opacity: 0;
    transform: rotateX(-12deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
* {
	font-family: 'Cairo', sans-serif;
}
.nav-bar {
  height: 70px;
  background:#262626;
}
 
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a img {
	max-height: 70px;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}
 
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
 
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  color: #ffffff;
  text-decoration: none;
  background-color: #262626;
  
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #018020;
  color: #000000;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
 
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}
 
@media only screen and (max-width: 798px) {

  .nav-mobile {
    display: block;
    
  }
 
  nav {
    width: 100%;
    padding: 70px 0 1px;
    background-color: #262626;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
    background-color: #262626;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
	padding-left: 25%;
    color: #eeeeee;
	 
  }
  nav ul li ul li a {
    padding-left: 30%;
  }
 
  .nav-dropdown {
    position: static;
  }
	.brand a img {
		max-height: 60px;
		margin-top: 5px;
	}
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
 
article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

/*Content Style*/
.banner {
    height: 180px;
    background-color:#018020;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    text-align: left;
    align-items: center;
    text-align: center;
}

.dis-title{
    margin-top: -30px;
}
.cbx{
    background-color: #ffffff;
    margin: 28px;
    border-radius: 5px;
    height: 1400px;
    border-width: 2px;
    border-left-style:solid;
    border-right-style:solid;
    border-color:#018020;
}
.dis{
    position: relative;
    top: 20px;
}

.title-bx {
    background-color: #eeeeee;
    width: 300px;
    display: inline-block;
    margin-left: 12px;
    position: relative;
    margin-bottom: 20px;
    top: 12px;
    text-align: center;
    border-radius: 3px;
    border-width: 2px;
    border-left-style:solid;
    border-right-style:solid;
    border-color:#018020;
    font-size: large;
}
.supject {
    background-color: #eeeeee;
    width: 700px;
    margin-left: 12px;
    border-radius: 3px;
    text-align: center;
    height: 70px;
    border-left-color: #018020;
    border-left-style:solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: large;
}

.sup-tit{
  position: relative;
  top: 12px;
}
.services {
  background-color: #111111;
  height: 310px;
  
}
.w-tit {
  background-color: #eeeeee;
  text-align: center;
  width: 100px;
  border-bottom-right-radius: 20px;
  
}

.crds {
  align-items: center;
  display: flex;
}
.card {
  background-color: #ffffff;
  width: 250px;
  text-align: center;
  border-radius: 2px;
  margin-left: 45px;
  transition: 0.4s;
  height: 200px;
  display: inline-block;
  
}

.card:hover {
  transform: scale(1.1);
}
  
.card .icon{
  color:#018020;
  font-size: 40px;
  text-align: center;

}
@media only screen and (max-width: 798px){
  .cbx {
    margin: 12px;
  }
  .services {
    height: auto;
  }
  .card {
    margin: 5px;
    margin-left: 56px;
  }
  .title-bx {
    width: 200px;
    font-size: medium;
  }

  .supject {
    width: 280px;
    font-size: 14px;
    position: relative;
  }
}